@*
   
*@
@{
}
@model EmployeeList.Models.AddEmployeeViewModel;


<h1>Add Employee</h1>

<form method="post">
    <div class="margin-3">
        <label class="form-label">Employee name: </label>
          <input type="text"  class="form-control" asp-for="Name"/>  
    </div>

    <div class="margin-3">
        <label class="form-label">Employee Email: </label>
          <input type="email"  class="form-control" asp-for="Email"/>
  
    </div>
    <div class="margin-3">
        <label class="form-label">Employee Phone Number : </label>
        <input type="text" class="form-control" asp-for="PhoneNumber" />

    </div>

    <div class="mt-3" >
            <input  type="checkbox" class="form-check" id="employed" asp-for="Employed"/>
            <label class="form-check-label" for="employed">Employed</label>
    </div>

    <div class="margin-3">
           <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>